html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
}

.site-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.title{
  position: relative;
  margin-bottom: 36px;
  font-size: 36px;
}

