<footer class="footer bg-light">
  <div class="container">
    <div class="row accordion" id="accordionExample">
      <div class="footer__item col-xl order-xl-5 social">
        <h6 class="footer__item-title">
          Follow us
        </h6>
        <ul class="footer__social">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-svg footer__social-svg--facebook">
                <use xlink:href="images/icons/mono/spriteMono.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-svg footer__social-svg--twitter">
                <use xlink:href="images/icons/mono/spriteMono.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-svg footer__social-svg--instagram">
                <use xlink:href="images/icons/mono/spriteMono.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-svg footer__social-svg--pinterest">
                <use xlink:href="images/icons/mono/spriteMono.svg#pinterest"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item col-12 col-sm" id="headingOne">
        <div class="footer__item-box">
          <h6 class="footer__item-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            Shop
          </h6>
          <svg class="footer__item-svg">
            <use xlink:href="images/icons/mono/spriteMono.svg#angle-down"></use>
          </svg>
        </div>
        <div id="collapseOne" class="collapse footer__item-colapse" aria-labelledby="headingOne"
          data-parent="#accordionExample">
          <ul class="footer__list card-body">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Browse By Holidays
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Browse By Brand
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Gift of the Month Clubs
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Customized Bottles
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Corporate Gifts
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__item col-12 col-sm" id="headingTwo">
        <div class="footer__item-box">
          <h6 class="footer__item-title collapsed" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            About
          </h6>
          <svg class="footer__item-svg">
            <use xlink:href="images/icons/mono/spriteMono.svg#angle-down"></use>
          </svg>
        </div>
        <div id="collapseTwo" class="collapse footer__item-colapse" aria-labelledby="headingTwo"
          data-parent="#accordionExample">
          <ul class="footer__list card-body">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                About Spirited Gifts
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Read our Blog
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                About our Selection
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Read our Reviews
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Shipping & Returns
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__item col-12 col-sm" id="headingThree">
        <div class="footer__item-box">
          <h6 class="footer__item-title collapsed" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            More
          </h6>
          <svg class="footer__item-svg">
            <use xlink:href="images/icons/mono/spriteMono.svg#angle-down"></use>
          </svg>
        </div>
        <div id="collapseThree" class="footer__item-colapse collapse" aria-labelledby="headingThree"
          data-parent="#accordionExample">
          <ul class="footer__list card-body">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Privacy Policy
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Retailer Network
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Help and FAQs
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Scholarship
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>