<header class="header">
  <div class="container">
    <div class="header__inner d-flex justify-content-lg-between align-items-center">
      <button class="navbar-toggler mr-3 d-flex d-xl-none justify-content-between align-items-center collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="logo mr-auto pr-3" href="#">
        <picture>
          <source srcset="images/logo.webp" type="image/webp">
          <img src="images/logo.png" alt="logo">
        </picture>
      </a>
      <a class="header__search-link" href="#">
        <svg>
          <use xlink:href="images/icons/mono/spriteMono.svg#search"></use>
        </svg>
      </a>
      <form class="header__form form-inline d-flex">
        <input class="header__form-input border form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="header__form-btn btn d-flex justify-content-center align-items-center" type="submit">
          <svg>
            <use xlink:href="images/icons/mono/spriteMono.svg#search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link bg-light nav-link--current" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-light" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-light" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-light" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-light" href="#">Help & FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-light" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-light" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>